body
{
	
	font-family: 'Open Sans';
    background-color: black;
	color:  white;
}

.main
{

	font-family:"Lucida Console", Monaco, monospace;
	position: center;
	width: 1000px;	
	padding: 10px;
	margin: 0 auto;
	background-color: black;
	color:  #A0A;

}

.intro
{
	
	background-color: black;
	text-align:center;
	width:parent;
	padding:10px;
	margin:5px;
	color:  white;
	
}

.intro2
{
	
	background-color: black;
	text-align:center;
	width:parent;
	padding:10px;
	margin:5px;
	color:  #A0A;
	
}

.footer
{
	
	width:parent;
	margin:5px;

}
